<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Page</title>
    <style>
        h1{
            color: #0e073a;
        }
    </style>
</head>
<body>
    <h1>
        This is Home page of ejs
    </h1>

    <p>We rendering this page in our backend</p>
</body>
</html>